<h1>Hello, Rails! Hecho por Marco INDA T </h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p id="notice"><%= notice %></p>

<body>
       <img src="comunion.jpg" width="304" height="228" alt="" />
</body>
<figure>
    <img src="comunion.jpg" width="304" height="228" alt="" />
</figure>
    
<%= link_to " Para ingresar a la aplicación : My Blog- Science", posts_path %>



