<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comentarios</h2> 
<% @post.comments.each do |c| %>
   <p> 
       <b>id:</b> 
       <%=h c.id %>
   </p>

   <p>
        <b>Detalle :</b>
        <%=h c.body %> 
   </p> 
<% end %>

<%= form_for([@post,Comment.new], remote: true ) do |f| %>
   <p><%= f.label :body, "Nuevo Comentario" %><br />
      <%= f.text_area :body %>
   </p>
   <p><%= f.submit "Añadir Comentario" %></p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path %> |
<%= link_to 'Manejo de Comentarios ',post_comments_path(@post) %> 

