// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/body {
body {
   
background-color: #D4ECF8;
} 
#contenedor {
   background-color: #fff;
   width: 900px;
   margin: 0px auto 0px auto;
   padding: 10px;
   border: solid 1px #ccc;
   box-shadow: 1px 1px 5px #000;
   -moz-box-shadow: 1px 1px 5px #000;
   -webkit-box-shadow: 1px 1px 5px #000;
}
header {
   text-align: center;
}
